.films__card:hover .films__img {
    transform: scale(1.5);
}

.films__card:hover .films__time {
    opacity: 0;
    transform: scale(0);
}

.films__card:hover .films__icon {
    transform: scale(1.8) rotateX(180deg) translateY(-10px);

}

.collections__card:hover .collections__content::before {
    transform: translateY(150%);
}

.collections__card:hover .collections__content::after {
    transform: translateY(-150%);
}

.collections__card:hover .collections__icon {
    transform: scale(1.8) rotateX(180deg) translateY(-10px);

}

.collections__card:hover .collections__title {
    opacity: 0;
}

.series__card:hover .series__img {
    transform: scale(1.5);
}